<div id="IAModule" class="module-ia-container">

    <!-- Navigation Item Template -->
    <script id="NavItemTemplate" class="nav-item-template" type="text/template">
        <a href="<%= P.href %>"
            <% _.each(P.dataAttribs,function(item, key, list){%>
            data-<%= item.name %>="<%= item.value %>"
            <%}) %>
             class="<% _.each(P.cssClasses,function(item){%><%= item %> <%}) %>"><span><%= P.name %></span></a>
    </script>

    <!-- Main Navigation Container -->
    <script type="text/template" id="MainNavTemplate" class="ui-template">
        <nav id="MainNavigation" class="main-nav-container navbar">
            <div class="navbar-inner">

            </div>
        </nav>
    </script>

    <!-- Global Navigation Container -->
    <script type="text/template" id="GlobalNavTemplate" class="ui-template">
        <nav id="GlobalNavigation" class="global-nav-container">

        </nav>
    </script>

</div>