<div id="IAModuleTemplateContainer">

    <!-- Home -->
    <script id="IAIndexTemplate" type="text/template" >

        <h1>IA Index</h1>

    </script>

    <script id="NavItemTemplate" type="text/template">
        <a href="<%= S.href %>" data-i18n="<%= S.i18nKey %>"><%= S.name%></a>
    </script>

    <script id="IAMainNavTemplate" type="text/template" >






        <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <li>
                    <a href="#home">Home</a>
                </li>
                <li data-el-container="adminMenuItem">
                    <a href="#admin">Admin</a>
                </li>
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->

    </script>

    <!-- Index -->
    <script id="IAIndexLayoutTemplate" type="text/template" >

        <div class="view-index ia-container ui-view" data-view="index-view">IA Index layout</div>

    </script>

    <!-- Global Navigation Container -->
    <script id="IAGlobalNavTemplate" type="text/template" class="ui-template">
        <nav class="global-nav-container" role="navigation">



            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li data-el-name="global.signup">
                        <a href="/#signup" data-el-label="ia.signup"><%= S.i18nLabel('ia.signup') %></a>
                    </li>
                    <li data-el-name="global.login">
                        <a href="/#login" data-el-label="ia.login"><%= S.i18nLabel('ia.login') %></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->




        </nav>
    </script>

</div>