/** basic default styles **/
html { margin: 0; padding: 0; }

body {
    height: 101%;
    font-size: 95.5%;
    font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
    color: #333;
    background: #eee;
    padding-top: 10px;
}

a {
    color: #0040D0;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

h2 {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #363636;
    font-family: "Droid Serif", Georgia, serif;
    font-size: 2.6em;
    line-height: 1.8em;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 12px 0;
    text-align: center;
}

h3 {
    letter-spacing: -0.04em;
    font-weight: bold;
    font-size: 1.44em;
    margin-bottom: 10px;
}



.nav-main-list li{
    display:inline;
    padding:4px;
    border-right:1px solid #eee;
}

