<div id="SecurityModuleTemplateContainer">

    <!-- Login -->
    <script type="text/template" id="LoginFormTemplate" class="ui-template">
        <h2 class="view-heading primary-view">Login</h2>

        <form role="form" data-el-name="loginForm">
            <div class="form-group">
                <label for="Email" class="bold">Email</label>
                <input type="email" class="form-control" name="Email" id="Email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <label for="Password" class="bold">Password</label>
                <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
            </div>
            <button class="btn-form btn-login">login</button>
        </form>
    </script>

    <!-- Sign Up -->
    <script type="text/template" id="SignUpTemplate" class="ui-template">
        <h2 class="view-heading primary-view">Signup</h2>

        <form role="form" data-id="<%- S._id%>" data-el-name="signUpForm" action="#" method="POST">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" name="Email" id="Email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
            </div>

            <button class="btn-form btn-signup">sign up</button>

        </form>
    </script>

    <!-- Forgot Password -->
    <script type="text/template" id="ForgotPasswordTemplate" class="ui-template">
        <form name="ForgotPasswordForm" id="ForgotPasswordForm" data-id="<%- S._id%>" method="post" action="#">
            <div class="wrapping clearfix">
                <section class="aligned">
                    <input type="email" name="EmailAddress" id="EmailAddress" placeholder="Email Address"
                           autocomplete="off" tabindex="1" class="txtinput">
                </section>
                <secion class="button-group">
                    <button class="btn-form btn-forgot-password">send password</button>
                </secion>
            </div>
        </form>
    </script>


    <!-- Home -->
    <script id="SecurityIndexTemplate" type="text/template">

        <h1>Security Index</h1>

    </script>

    <!-- Index -->
    <script id="SecurityIndexLayoutTemplate" type="text/template">

        <div class="view-index security-container ui-view" data-view="index-view">Security Index layout</div>

    </script>

</div>